.swiper {
  width: 100%;
  height: 50px;

  position: absolute;
  top: -40px;
  z-index: 20;
}

.swiper-slide {
}

.swiper-slide-active {
}

.swiper-slide:not(.swiper-slide-active) {
  visibility: hidden;
}
