@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

input,
textarea {
  outline: none;
}

.gradient-btn {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #d7e8cf 0deg,
    #f8e0d2 138.75deg,
    #f8d2d9 258.75deg,
    #d7e8cf 360deg
  );
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.h-inner {
  min-height: calc(100vh - 30px);
}

.h-searchContainer {
  height: calc(100vh - 125px);
}

.h-searchInnerContainer {
  height: calc(100% - 24px);
}

@layer components {
  .deco-tab-group {
    @apply scrollbar-hidden flex flex-nowrap gap-[10px] overflow-y-auto pr-6;
  }

  .deco-tab-option {
    @apply flex h-9 w-9 shrink-0 items-center justify-center rounded-lg border border-[#d4d4d4] ui-checked:border-black;
  }
}
