@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

input,
textarea {
  outline: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .deco-tab-group {
    @apply scrollbar-hidden flex flex-nowrap gap-[10px] overflow-y-auto pr-6;
  }

  .deco-tab-option {
    @apply flex h-9 w-9 shrink-0 items-center justify-center rounded-lg border border-[#d4d4d4] ui-checked:border-black;
  }
}
