@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #708488;
  border-radius: 99px;
}

.scrollbar-design {
  overflow-y: overlay;
}

.scrollbar-design::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-design::-webkit-scrollbar-thumb {
  background-color: #2c2a29;
  border-radius: 99px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .media-center {
    @apply sm:left-1/2 sm:max-w-[320px]  sm:-translate-x-1/2;
  }

  .deco-tab-group {
    @apply scrollbar-hidden flex flex-nowrap gap-[10px] overflow-y-auto pr-6;
  }

  .deco-tab-option {
    @apply flex h-9 w-9 shrink-0 items-center justify-center rounded-lg border border-[#d4d4d4] ui-checked:border-black;
  }

  .tooltip-tail {
    @apply before:absolute before:bottom-[4px] before:left-[12px] before:-z-10 before:block before:h-4 before:w-4 before:rotate-45 before:rounded-[2px] before:bg-white before:content-[''];
  }
}
