.h-inner-container {
  margin-top: 50px;
  min-height: calc(100dvh - 50px);
}

.h-main-inner-container {
  margin-top: 290px;
  min-height: calc(100dvh - 290px);
}

.h-archive-inner-container {
  margin-top: 140px;
  min-height: calc(100dvh - 140px);
}

.h-detail-inner-container {
  min-height: calc(100dvh - 120px);
}

.h-drawer-container {
  height: calc(100dvh - 125px);
}

.h-search-container {
  height: calc(100% - 25px);
}
