.h-inner-container {
  margin-top: 50px;
  min-height: calc(100vh - 50px);
}

.h-mainInner {
  min-height: calc(100vh - 50px);
}

.h-search-container {
  height: calc(100vh - 125px);
}

.h-search-result-container {
  height: calc(100% - 24px);
}

.h-archive-inner-container {
  min-height: calc(100vh - 90px);
}

.h-archive-result-container {
  height: calc(100vh - 185px);
}
